*{
	margin:0;
	padding:0;
}
html{
	height:100%;
}
body{
  margin:auto;
  background-image:url(background.gif);
  width:1024px;
  overflow:scroll;
}
a{
	text-decoration:none;
	color: Maroon;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#container{
  height:100%;
  background:#BDBDBD;
  padding-bottom:1.6em;
}
#header{
	background:#BDBDBD;
	height:125px;
  width:100%;
}
#logo{
	float:left;
	width:150px;
}
#logo img{
	width:1024px;
	height:200px;
	overflow:auto;
}
#siteTitle {
  display:none;
	float:left;
	position:relative;
	padding-top:40px;
	padding-left:100px;
}
#login{
	float:right;
	position:relative;
}
#navigation{
  clear:both;
	margin-top:none;
  margin-bottom:5px;
  text-align:center;
  font-weight: bold;
	background-image: url(navigation.jpg);
 }
#navigation li{
	list-style-type:none;
	display:inline;
	position:relative
}
#navigation a{
	margin-left:10px;
	margin-right:10px;
  font-size:1.6em;
}

#navigation li span{
  display:none;
  position:absolute;
}

#navigation li:hover span{
  display:block;
}

#navigation a:link {}
#navigation a:visited {}
#navigation a:hover {}

.popup{
  background-color: Chocolate;
  font-size: 0.8em;
}
#welcomenote {
  margin-right:25px;
  margin-left:25px;
}
#subnav{
  position:relative;
  float:left;
  width:160px;
  margin-left:25px;
}
#subnav2{
  position:relative;
  float:left;
  clear:both;
  width:160px;
  margin-left:25px;
}
#createnode{
  float:left;
  width:250px;
  background:red;
}
#createnode h2{
  text-align:center;
}
#tblCreateNodeSubmit {
  margin-bottom:10px;
}
#infovis{
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
  width:750px;
  height:600px;
  overflow:hidden;
  background:green;
}
#tourguide_content {
  margin-left:25px;
}
#tourguide_content li{
	margin-left:40px;
}
#gallery{
  float:right;
  width:850px;
  display:none;
}
#gallery img{
  width:19.5%;
  height:150px;
  overflow:auto;
}
#plantseed_content h2 {
  margin-left:25px;
}
#seedform{
  position:relative;
}
#contactus_content h2 {
  margin-left:25px;
}
#contactus_content h3 {
  margin-left:25px;
}
#tos_id {
  padding-left:40px;
  padding-right:40px;
}
#footer{
  clear:both;
  float:left;
  height:25px;
  width:100%;
  text-align:center;
  margin-top:5px;
  font-size: 15px
}

